.name,
.position,
.top-nav{
    font-size: 25px;
    min-height: 120px;
    line-height: 120px;
    color: #9d9d9d;
}

.name {

    background: #dddddd;
}

.position{

    background: white;
}
.nopadding {
    padding: 0;
    margin: 0;
}

.top-nav{
    text-align: center;
    font-size: 1.25em;
    color: white;

}

.about-me-desc{
    min-height: 120px;
}

h3 i {
    color: #e74c3c;
}